.discussoes {
  display: grid;
  grid-template-columns: 220px 1fr 1fr 29px;
  max-width: 2560px;
}

.discussao-criar {
  margin-left: 45px;
  margin-right: 20px;
  padding: 0px;
  grid-column: 2/4;
  border: 1px solid #e7e7e7;
}

.discussoes-titulo {
  color: #4e4e4e;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 400;
  padding: 10px 15px;
  background-color: #fdf1eb;
}

.discussao-texto {
  background-color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 10px 10px 15px;
  text-align: center;
  max-width: 1101px;
}

.compartilhe-titulo {
  color: #ed7839;
}

.compartilhe-texto {
  color: #595959;
  font-family: Quicksand;
  font-size: 14px;
}

.enviado p {
  margin-right: 40px;
}

.enviado-texto {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  color: #ed7839;
  margin-bottom: 18px;
}

.enviado-subtexto {
  font-family: Quicksand;
  font-size: 14px;
  color: #595959;
  margin-bottom: 20px;
}

.enviado-descubra {
  font-family: Quicksand;
  font-family: 14px;
  color: #ed7839;
  text-decoration: underline;
}

.discussao-img {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  left: -35px;
  z-index: 2;
}

#pseudo::after {
  content: "";
  display: none;
  height: 1px;
  background: #e7e7e7;
  position: relative;
  top: -140px;
  z-index: 1;
}

.perguntas {
  text-align: left;
  padding: 20px 20px 20px 20px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.pergunta-titulo {
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 700;
  color: #ed7839;
}

.pergunta-pessoa {
  font-family: Quicksand;
  font-size: 12px;
  color: #5c5c5c;
  margin-bottom: 10px;
}

.pergunta-perguntas {
  font-family: Quicksand;
  font-size: 14px;
  color: #4d4d4d;
}

.likes p {
  font-family: Quicksand;
  font-size: 12px;
  color: #757575;
  letter-spacing: 1px;
  margin-top: 10px;
}
