.topico p {
  font-family: Quicksand;
  font-size: 14px;
  color: #5c5c5c;
}

.topico label {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  color: #ed7839;
}

.form label {
  display: block;
  margin-bottom: 4px;
  text-align: left;
}

.footer img {
  width: 100%;
  height: auto;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-bottom: 20px;
}

.form input[type="text"],
.form textarea {
  font: 400 1rem/1/5 "Roboto", sans-serif;
  background: #fff;
  border: 1px solid #ececec;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.definir {
  grid-column: span 2;
}

.msg {
  grid-column: span 2;
}

.enviarMsg {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(#feb154, #f1833e);
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  color: #fff;
  font: 600 0.75rem/1.35;
  max-width: max-content;
  border: none;
  cursor: pointer;
}
.enviarMsg:hover {
  color: #8e390b;
}
