.intro-container {
  display: grid;
  grid-template-columns: 220px 800px 1fr;
  margin-left: 45px;
  margin-top: 20px;
}

.intro-conteudo {
  gap: 20px;
  display: grid;
  grid-column: 2/3;
}

.videoplayer {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.intro-conteudo p {
  font-size: 20px;
  font-weight: 900;
  line-height: 25px;
}

.download {
  grid-column: 3/ -1;
  height: max-content;
  margin-left: 50px;
  margin-right: 50px;
}

.download img {
  cursor: pointer;
}

.citar {
  font-family: Roboto;
  color: #ed7839;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 5%;
}

.detalhes-conteudo ul {
  padding: 15px 15px 15px 15px;
}

#mais {
  display: none;
}

.discussoes {
  display: grid;
  grid-template-columns: 220px 1fr 1fr 29px;
}

.discussao-criar {
  margin-left: 24px;
  padding: 20px;
  grid-column: 2/4;
}

.discussoes-titulo {
  background-color: aquamarine;
  padding: 10px 0px 10px 10px;
}

.discussao-texto {
  background-color: #e5e5e5;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 10px 10px 15px;
  text-align: center;
  max-width: 1101px;
}

.discussao-img {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  left: -35px;
  z-index: 2;
}

.discussao-texto a::after {
  content: "";
  display: block;
  max-width: 1099px;
  height: 2px;
  background: #b00808;
  position: relative;
  top: -52px;
  z-index: 1;
}

footer {
  display: grid;
  grid-template-columns: 220px 1fr 1fr 29px;
  margin-top: 50px;
  max-width: 2560px;
}

.footer {
  grid-column: 2/-1;
  margin-left: 45px;
}

.topico {
  display: none;
}

.enviado {
  display: none;
}

.aguardando {
  min-width: 100%;
}

.validacao {
  margin-bottom: 20px;
}

@media (max-width: 1345px) {
  .videoplayer {
    width: 100%;
  }
  .intro-container {
    grid-template-columns: 220px 3fr 1fr;
  }
}

@media (max-width: 1190px) {
  .top {
    font-size: 10px;
  }
  .mid {
    font-size: 16px;
  }
  .bottom {
    font-size: 10px;
  }
}

@media (max-width: 770px) {
  .top {
    font-size: 10px;
  }
  .mid {
    font-size: 12px;
    margin-top: 2px;
  }
  .bottom {
    font-size: 10px;
  }
}

/* header dura ate 770px */
