.intro-conteudo p {
  font-family: Roboto;
  font-weight: 900;
  font-size: 20px;
  color: #ed7839;
}

.detalhes {
  border: 1px solid #ececec;
  background-color: #fdf1eb;
  padding: 12px 15px;
}

.detalhes p {
  font-family: Roboto;
  font-weight: 500px;
  color: #4e4e4e;
}

.detalhes-conteudo {
  margin-top: 5px;
  margin-bottom: 20px;
  max-width: 300px;
  border: 1px solid #ececec;
  height: 453px;
  overflow-y: scroll;
}

.descricao {
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 400;
  color: #5c5c5c;
}

.descricao strong {
  color: #000;
}

.intro-container {
  display: grid;
  grid-template-columns: 220px 800px 1fr;
  margin-left: 45px;
  margin-top: 20px;
}

.intro-conteudo {
  gap: 20px;
  display: grid;
  grid-column: 2/3;
}

.videoplayer {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.intro-conteudo p {
  font-size: 20px;
  font-weight: 900;
  line-height: 25px;
}

.download {
  grid-column: 3/ -1;
  height: max-content;
  margin-left: 50px;
  margin-right: 50px;
}

.download img {
  cursor: pointer;
}

.download img:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.citar {
  font-family: Roboto;
  color: #ed7839;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 5%;
}

.detalhes-conteudo ul {
  padding: 15px 15px 15px 15px;
}

@media (max-width: 1280px) {
  .detalhes-conteudo {
    height: 380px;
  }
}

@media (max-width: 1100px) {
  .detalhes-conteudo {
    height: 300px;
  }
}

@media (max-width: 1000px) {
  .detalhes-conteudo {
    height: 220px;
  }
  .intro-conteudo p {
    font-size: 14px;
  }
  .citar {
    font-size: 12px;
  }
}

@media (max-width: 860px) {
  .detalhes-conteudo {
    height: 180px;
  }
  .intro-conteudo p {
    font-size: 14px;
  }
}

@media (max-width: 780px) {
  .detalhes-conteudo {
    height: 185px;
  }
  .intro-conteudo p {
    font-size: 14px;
  }
  .download img {
    width: 20%;
  }
  .citar {
    font-size: 10px;
  }
}

@media (min-width: 1600px) {
  .detalhes-conteudo {
    width: auto;
    max-width: 520px;
    height: 500px;
  }
  .discussao-texto {
    width: 1250px;
    max-width: 1600px !important;
  }
  .discussoes {
    max-width: 1600px !important;
  }
  .container {
    max-width: auto !important;
  }
  .download {
    margin-left: 150px;
  }
  .videoplayer {
    width: 110%;
  }
  .footer-p {
    font-size: 20px;
  }
}

@media (min-width: 1700px) {
  .discussao-texto {
    width: 1350px;
    max-width: 2000px !important;
  }
  .discussoes {
    max-width: 2000px !important;
  }
}

@media (min-width: 1900px) {
  .detalhes-conteudo {
    width: auto;
    max-width: 480px;
    height: 585px;
  }
  .discussao-texto {
    width: inherit;
    max-width: 1800px !important;
  }
  .discussoes {
    max-width: 1900px;
  }
  .videoplayer {
    width: 130%;
  }
  .download {
    margin-left: 300px;
  }
}

@media (min-width: 2000px) {
  .detalhes-conteudo {
    width: auto;
    max-width: 600px;
    height: 740px;
  }
  .discussao-texto {
    width: inherit;
    max-width: 2560px !important;
  }
  .discussoes {
    max-width: 2560px !important;
  }
  .container {
    max-width: 2560px !important;
  }
  .download {
    margin-left: 600px;
  }
  .videoplayer {
    width: 170%;
  }
}
