.intro-container {
  display: grid;
  grid-template-rows: 70px;
  grid-template-columns: 220px 800px 1fr;
  margin-left: 45px;
  margin-top: 20px;
}

.intro-conteudo {
  gap: 20px;
  display: grid;
  grid-column: 2/3;
}

.videoplayer {
  max-width: 100%;
}

.intro-conteudo p {
  font-size: 20px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 5%;
}

.download {
  grid-column: 3/ -1;
  height: max-content;
  padding-left: 110px;
}

.download p {
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 5%;
}

.detalhes-titulo {
  background-color: blue;
  grid-column: 3/ 4;
  width: 285px;
  margin-left: 40px;
  height: 45px;
  border: 1px solid rgb(222, 141, 141);
}

.detalhes-titulo p {
  padding: 10px 10px 10px 10px;
  font-size: 20px;
  line-height: 25px;
}

.detalhes-conteudo {
  grid-column: 3/4;
  width: 285px;
  margin-left: 40px;
  border: 1px solid rgb(176, 90, 90);
  height: 391px;
  overflow-y: scroll;
}

.detalhes-conteudo ul {
  padding: 15px 15px 15px 15px;
}

.resumo {
  display: grid;
  grid-template-columns: 220px 1fr 1fr 29px;
}

.resumo-conteudo {
  margin-left: 24px;
  padding: 20px;
  grid-column: 2/4;
}

.titulo-resumo {
  font-size: 25px;
  font-weight: 400;
  padding: 15px 10px 10px 15px;
  background-color: blueviolet;
}

.resumo-texto {
  background-color: crimson;
}

.resumo-texto p {
  padding: 15px 10px 10px 15px;
}

#mais {
  display: none;
}

.discussoes {
  display: grid;
  grid-template-columns: 220px 1fr 1fr 29px;
}

.discussao-criar {
  margin-left: 24px;
  padding: 20px;
  grid-column: 2/4;
}

.discussoes-titulo {
  background-color: aquamarine;
  padding: 10px 0px 10px 10px;
}

.discussao-texto {
  background-color: #e5e5e5;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 10px 10px 15px;
  text-align: center;
  max-width: 1101px;
}

.discussao-img {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  left: -35px;
  z-index: 2;
}

.discussao-texto a::after {
  content: "";
  display: block;
  max-width: 1099px;
  height: 2px;
  background: #b00808;
  position: relative;
  top: -52px;
  z-index: 1;
}

.perguntas {
  text-align: left;
  padding: 20px 20px 20px 20px;
  border: 1px solid black;
  margin-bottom: 20px;
}

footer {
  display: grid;
  grid-template-columns: 220px 1fr 1fr 29px;
}

.footer {
  grid-column: 2/-1;
  margin-left: 45px;
}

.form label {
  display: block;
  margin-bottom: 4px;
  text-align: left;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-bottom: 20px;
}

.form input[type="text"],
.form textarea {
  font: 400 1rem/1/5 "Roboto", sans-serif;
  background: #feb154;
  border: 1px solid #b00808;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.definir {
  grid-column: span 2;
}

.msg {
  grid-column: span 2;
}

.enviarMsg {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(#feb154, #f1833e);
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  color: #fff;
  font: 600 0.75rem/1.35;
  max-width: max-content;
  border: none;
  cursor: pointer;
}

.topico {
  display: none;
}

.enviado {
  display: none;
}

.aguardando {
  min-width: 100%;
}

.validacao {
  margin-bottom: 20px;
}
