@media (max-width: 700px) {
  .container {
    display: none;
  }
  .intro-container {
    margin-left: 15px;
    grid-template-columns: 1fr;
  }
  .intro-conteudo p {
    font-size: 12px;
    margin-right: 20px;
  }
  .videoplayer {
    width: 90%;
    grid-column: 1 / -1;
  }
  .download {
    margin-left: 0px;
    margin-right: 15px;
  }
  .download img {
    width: 80px;
    height: 30px;
  }
  .citar {
    font-size: 12px;
  }
  .descricao li {
    text-align: center;
  }
  .detalhes-conteudo {
    max-width: inherit;
    margin-right: 0px;
    height: 400px;
    grid-column: 1/-1;
  }
  .detalhes p {
    font-size: 25px;
  }
  .resumo {
    grid-template-columns: 1fr;
  }
  .resumo-conteudo {
    max-width: inherit;
    grid-column: 1/-1;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0px;
    margin-bottom: 20px;
  }
  .discussoes {
    grid-template-columns: 1fr;
    max-width: inherit;
    margin-left: 0px;
    margin-right: 15px;
  }
  .discussao-criar {
    margin-right: 0px;
    margin-left: 15px;
  }
  .discussao-img {
    margin-left: 50px;
  }
  footer {
    grid-template-columns: 1fr;
    grid-column: none;
    margin-right: 0px;
    max-width: 600px;
    margin-left: 15px;
    margin-bottom: 40px;
    margin-right: 15px;
  }
  .footer {
    grid-column: none;
  }
  .footer-p {
    text-align: center;
    grid-column: none;
    font-size: 12px;
  }
}

@media (max-width: 700px) {
  .videoplayer {
    margin-right: 0px;
  }
}
